:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shop-header {
    flex: 0 0 auto;

    display: flex;
    justify-content: center;

    padding: 15px;
    box-sizing: border-box;
}

.logo {
    display: block;
    height: 175px;
    width: 200px;
    background: url(/assets/images/logo/kamino-bakery-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.shop-content{
    flex: 1 1 auto;
    min-height: 100px;

    padding: 15px;
    box-sizing: border-box;

    overflow-y: auto;
}

.shop-footer {
    flex: 0 0;

    padding: 15px;
    box-sizing: border-box;
}

.admin-button {
    display: block;
    margin-left: auto;
}