.sidebar {
    width: 250px;
}

.content {
    padding: 15px;
    display: flex;    
}

.products {
    flex: 0 0 1000px;
    margin-right: 7.5px;
}

.warehouse-entries {
    flex: 1 1 auto;
    margin-left: 7.5px;
}

.content-actions {
    padding: 0 0 15px 0;
}